<html>
<head>
  <title> webL10n test page </title>
  <meta charset="utf-8" />

  <link rel="prefetch" type="application/l10n" href="./node_modules/l10n/l10n/locales.ini" />
  <script type="text/javascript" src="./node_modules/l10n/l10n.js"></script>
  <script type="text/javascript">
    function onLocalized() {
      var l10n = document.webL10n,
          ui = {
            lang: document.getElementsByTagName('select')[0]
          };
      ui.lang.value = l10n.getLanguage(); // not working with IE<9
      ui.lang.onchange = function() {
        alert(ui.lang);
        l10n.setLanguage(this.value || this.options[this.selectedIndex].text);
      };
    }
    document.webL10n.ready(onLocalized);
    function trans(){
        var l10n = document.webL10n;
        alert('trans');
        l10n.setLanguage('es');
    }
  </script>

  <link rel="stylesheet" type="text/css" href="./node_modules/l10n/css/layout.css" />
    <style type="text/css">
      #l10n { width: 50%; position: absolute; left: 0.5%; }
    </style>
</head>
<body>
  <div id="test">
    <div>
      <p data-l10n-id="about">This page has been translated dynamically.</p>
      <button data-l10n-id="hello" accesskey="h" title="click"
             onclick="trans()" id="test">Hello!</button>
      
      <p style="text-align: right;">
        <span data-l10n-id="langSelection">Language selection</span>
        <select>
          <option disabled selected> </option>
          <option>en</option>
          <option>es</option>
          <option>fr</option>
          <option>de</option>
          <option>sq</option>
        </select>
      </p>
    </div>
  </div>

</body>
</html>
